body{
background-image:url("http://www.labymais.com/images/fond-ecran-bleu.jpg");
}
h1{
	text-align:center;
}
#titre{
	text-align:center;
}
ul{
	margin-top:30px;
	text-align:center;
	font-size:22px;
}

p{
	margin-left:450px;
	margin-top:40px;
	font-size:20px;
}
#logo
{
	margin-left:40%;
	margin-top:50px;
}

#servic
{
	position:absolute;
	margin-left:40px;
	margin-top:-150px;
}
#categorie
{
	font-color:red;
	font-size:30px;
}

#petit
{
	font-size:15px;
}
#btnPostuler
{
	text-align:center;
	margin-top:-35px;
}
#tableau
{
	left:33%;
	margin-top:20px;
}
#tabl{
	left:25%;
	
}
#plan
{
	margin-left:650px;
	margin-top:100px;
}