{% extends 'bundlePPEMission2BootstrapBundle:Default:base.html.twig' %}
{% block corps %}
<h1> Services </h1>
<ul id="serv">
<li> Grand brulés </li>
<li> Cancérologie </li>
<li> Cardiologie </li>
<li> Réanimation </li>
<li> Maternité </li>
</ul>
<img class="img-circle" id="servic" src="http://www.mutuelle-infirmier.fr/images/infirmiere.jpg"/>
{% endblock %}
